*{
  margin: 0;
  padding: 0;
  border: 0;
}

body{
  overflow: hidden;
}

.container{
  position: absolute;
  display: block;
  width: 100vw;
  height: 100vh;
  transition: 2s;
}

.centro{
  top: 0%;
  left: 0%;
  background-color: #C2D076;
}

.norte{
  top: -100%;
  left: 0%;
  background-color: blue;
}

.sur{
  top: 100%;
  left: 0%;
  background-color: green;
}

.este{
  top: 0%;
  left: 100%;
  background-color: black;
}

.oeste{
  top: 0%;
  left: -100%;
  background-color: white;
}

iframe{
  width: 101vh;
  height: 101vw;
  position: relative;
  transform: scale(0.3);
  overflow: hidden;
}
